@import "../../variables.scss";

.main {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: $grey;
}

.header {
  height: 10rem;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }

  margin-bottom: 5rem;
}
