@import "../../variables.scss";

.container {
  padding: 2.5rem;
  background-color: $grey;

  .listing {
    display: grid;
    grid-template-columns: minmax(min-content, 40rem) 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    border: 1px solid $grey;
  }
}
